<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>ReservationInfo</title>
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/framework.css">
    <link rel="stylesheet" type="text/css" href="/fonts/css/fontawesome-all.min.css">
</head>

<body class="theme-light" data-background="none" data-highlight="blue2">

    <div id="page">
       
        <% include ./inc/header.ejs %>
        <% include ./inc/footer.ejs %>

        <div class="page-content header-clear-medium">

            <div data-height="130" class="caption caption-margins round-medium shadow-huge">
               
                <div class="caption-center left-15 text-left">
                    <h1 class="color-white bolder">Reservation Info</h1>
                    <p class="under-heading color-white opacity-90 bottom-0">
                        Check your reservation.
                    </p>
                </div>
                <div class="caption-overlay bg-black opacity-70"></div>
                <div class="caption-bg bg-8"></div>
            </div>

            <div class="content-boxed content-boxed-full">
                <div class="content bottom-0">
                    <div class="contact-information last-column">
                        <div class="container top-20">
                            <p class="contact-information">
                                <strong class="color-theme font-16">Information</strong>
                                <br> Reservation Number : <%=list.id %>
                                <br> Keeper Name : <%=list.name%>
                                <br> Reservation Date : <%=list.reservation_start_date%>
                            </p>
                            <div class="divider"></div>
                            <p class="contact-information">
                                <strong class="color-theme font-16">Baggage</strong>
                                <br> <%=list.product_amount%>
                                <br> Reservatio State : Comfirm
                                <br> Request Message : <%=list.description%>
                            </p>
                            <div class="divider bottom-0"></div>
                            <div class="link-list link-list-1">
                                <a href="tel:+1 234 567 8900">
                                    <i class="fa fa-phone color-green1-dark"></i>
                                    <span>+<%=list.keeper_phone%></span>
                                    <em class="bg-highlight">TAP TO CALL</em>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="mailto:mail@domain.com">
                                    <i class="fa fa-map-marker color-blue2-dark"></i>
                                    <span><%=list.address%></span>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="content-boxed content-boxed-full">
                <div class="responsive-iframe">
                </div>
            </div>


            
        </div>
        <!-- Page Content Class Ends Here-->
    

        <div class="menu-hider"></div>
    </div>


    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/plugins.js"></script>
    <script type="text/javascript" src="/scripts/custom.js"></script>

    <script>
        var map;

        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {
                lat: <%=list.location_lat%>,
                lng: <%=list.location_lon%>
            };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.querySelector('.responsive-iframe'), {
                    zoom: 15,
                    center: uluru
                });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNfdF_uHYQT0Jn8czh4R10flxH8x3G95k&callback=initMap"
        async defer>
    </script>
</body>