<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Locker</title>
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/framework.css">
    <link rel="stylesheet" type="text/css" href="/fonts/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/blog.css">

</head>

<body class="theme-light" data-background="none" data-highlight="blue2">

    <div id="page">

        <div id="page-preloader">
            <div class="loader-main">
                <div class="preload-spinner border-highlight"></div>
            </div>
        </div>

        <div class="header header-fixed header-logo-app">
            <a href="index.html" class="header-title"><%=keeper.name%></a>
            <a href="#" class="back-button header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
            <a href="page-contact.html" class="header-icon header-icon-2"><i class="fas fa-envelope"></i></a>
            <a href="#" data-toggle-theme-switch class="header-icon header-icon-3"><i
                    class="fas fa-user-circle"></i></a>
            <a href="#" data-menu="menu-cart" class="header-icon header-icon-4"><i class="fas fa-shopping-cart"></i></a>
        </div>

        <!-- footer menu -->
        <div id="footer-menu" class="footer-menu-5-icons footer-menu-style-1">
            <a href="index.html"><i class="fa fa-home"></i><span>Home</span></a>
            <a href="index-components.html"><i class="fa fa-star"></i><span>Features</span></a>
            <a href="index-pages.html" class="active-nav"><i class="fa fa-heart"></i><span>Store</span></a>
            <a href="index-search.html"><i class="fa fa-search"></i><span>Search</span></a>
            <a href="#" data-menu="menu-settings"><i class="fa fa-cog"></i><span>USER</span></a>
            <div class="clear"></div>
        </div>

        <div id="menu-cart" class="menu menu-box-bottom menu-box-detached round-medium" data-menu-height="365"
            data-menu-effect="menu-over">
            <div class="content">
                <div class="menu-cart-item">
                    <img class="preload-image" src="/images/empty.png" data-src="/images/placeholders/1.png" alt="img">
                    <strong>Black Smart Watch</strong>
                    <span>Sport Band, Water Proof, 132 GB, Black Water Proof</span>
                    <em>$299.99 <del class="color-gray2-dark">$399.99</del></em>
                    <a href="#" class="color-red1-dark"><i class="fa fa-times"></i> Remove item</a>
                </div>
                <div class="menu-cart-item">
                    <img class="preload-image" src="/images/empty.png" data-src="/images/placeholders/2.png" alt="img">
                    <strong>Black Smart Watch</strong>
                    <span>Sport Band, Water Proof, 132 GB, Black Water Proof</span>
                    <em>$299.99 <del class="color-gray2-dark">$399.99</del></em>
                    <a href="#" class="color-red1-dark"><i class="fa fa-times"></i> Remove item</a>
                </div>
                <div class="divider bottom-20"></div>
                <div class="menu-cart-total">
                    <h5 class="float-left">Total</h5>
                    <h5 class="uppercase float-right">$ 899.97</h5>
                    <div class="clear"></div>
                    <a href="#"
                        class="button button-full button-s top-20 button-round-large shadow-huge bg-highlight bottom-0">Proceed
                        to Checkout</a>
                </div>
            </div>
        </div>


        <div class="page-content header-clear-medium">

            <link rel="stylesheet" type="text/css" href="/styles/store.css">

            <div class="content-boxed content-boxed-full">
                <div class="single-slider owl-carousel owl-no-dots">
                    <div class="store-slide-1">
                        <a href="#" class="store-slide-image"><img src="/images/placeholders/5.png" alt=""></a>
                        <div class="store-slide-title bottom-15">
                            <h4 class="bottom-0 center-text">New SmartPhone</h4>
                            <span class="color-gray2-dark under-heading center-text font-10">Sport Band, Water Proof,
                                132 GB, Black</span>
                        </div>
                        <div class="store-slide-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="store-slide-price">
                            <strong>$299.99<br> <del>$ 399.99</del></strong>
                            <a href="#"><i class="fa fa-heart color-orange-dark"></i>Add to Wishlist<span
                                    class="color-green1-dark">In Stock - Ships Immediately</span></a>
                            <div class="clear"></div>
                        </div>
                        <div class="store-slide-button">
                            <a href="/reservation"
                                class="button bg-highlight button-round-large shadow-large button-full button-s uppercase ultrabold">RESERVATION</a>
                        </div>
                    </div>
                    <div class="store-slide-1">
                        <a href="#" class="store-slide-image"><img src="/images/placeholders/5a.png" alt=""></a>
                        <div class="store-slide-title bottom-15">
                            <h4 class="bottom-0 center-text">Black SmartPhone</h4>
                            <span class="color-gray2-dark under-heading center-text font-10">Sport Band, Water Proof,
                                132 GB, Black</span>
                        </div>
                        <div class="store-slide-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="store-slide-price">
                            <strong>$299.99<br> <del>$ 399.99</del></strong>
                            <a href="#"><i class="fa fa-heart color-orange-dark"></i>Add to Wishlist<span
                                    class="color-red1-dark">We're currently out of Stock</span></a>
                            <div class="clear"></div>
                        </div>
                        <div class="store-slide-button">
                            <a href="#"
                                class="button bg-highlight button-round-large shadow-large button-full button-s uppercase ultrabold">RESERVATION</a>
                        </div>
                    </div>
                    <div class="store-slide-1">
                        <a href="#" class="store-slide-image"><img src="/images/placeholders/5b.png" alt=""></a>
                        <div class="store-slide-title bottom-15">
                            <h4 class="bottom-0 center-text">White SmartPhone</h4>
                            <span class="color-gray2-dark under-heading center-text font-10">Sport Band, Water Proof,
                                132 GB, Black</span>
                        </div>
                        <div class="store-slide-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="store-slide-price">
                            <strong>$299.99<br> <del>$ 399.99</del></strong>
                            <a href="#"><i class="fa fa-heart color-orange-dark"></i>Add to Wishlist<span
                                    class="color-yellow1-dark">15 Items Remaining in Stock</span></a>
                            <div class="clear"></div>
                        </div>
                        <div class="store-slide-button">
                            <a href="/reservation"
                                class="button bg-highlight button-round-large shadow-large button-full button-s uppercase ultrabold">RESERVATION</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- remover -->


            <div data-height="360" class="caption caption-margins round-medium shadow-large">
                <div class="caption-center">
                    <h1 class="center-text color-highlight bottom-30"><i class="fa fa-2x fa-clock"></i></h1>
                    <h1 class="center-text color-white bolder fa-3x">HOW MANY PEOPLE USE</h1>
                    <p class="boxed-text-huge under-heading color-white opacity-90">
                        Check this place
                    </p>
                    <div class="countdown top-30 left-20 right-20">
                        <div class="countdown-years disabled">
                            <div class="color-white" id="years"></div>
                            <em>years</em>
                        </div>
                        <div class="countdown-days">
                            <div class="color-white" id="days"></div>
                            <em>days</em>
                        </div>
                        <div class="countdown-hours">
                            <div class="color-white" id="hours"></div>
                            <em>hours</em>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <input type="hidden" id="registerId" value="<%=keeper.id%>">
                    <a id="registerBtn"
                        class="button button-s button-round-medium shadow-large bg-highlight top-30 button-center-large">RESERVATION</a>
                </div>
                <div class="caption-overlay bg-black opacity-80"></div>
                <div class="caption-bg bg-17"></div>
            </div>

            <!-- add map -->

            <div class="content-boxed content-boxed-full">
                <div class="responsive-iframe">
                    <!-- <iframe
                        src='https://maps.google.com/?ie=UTF8&amp;ll=47.595131,-122.330414&amp;spn=0.006186,0.016512&amp;t=h&amp;z=17&amp;output=embed'
                        frameborder='0' allowfullscreen>
                    </iframe> -->
                </div>
            </div>

            <!-- review content -->
            <!-- add componet -->
            <div class="content-boxed">
                <div class="content bottom-0">
                    <h4 class="bolder">Review</h4>
                    <p>
                        Check out this keeper's review.
                    </p>
                    <% review.forEach(function(item,index){%>
                    <div class=" blog-list-item">
                        <a href="#">
                            <img class="preload-image round-small shadow-large" src="/images/empty.png"
                                data-src="/images/pictures/11s.jpg" alt="img">
                            <strong><%=item.comment%></strong>
                        </a>
                        <span><i class="fas fa-clock"></i><%= item.create_date %><a href="#"
                                class="color-highlight"><%=item.username %></a></span>
                    </div>

                    <% }); %>
                </div>
            </div>
            <!-- Page Content Class Ends Here-->

            <!--Menu Settings-->
            <div id="menu-settings" class="menu menu-box-bottom menu-box-detached round-large" data-menu-height="310"
                data-menu-effect="menu-over">
                <div class="content bottom-0">
                    <div class="menu-title">
                        <h1>Settings</h1>
                        <p class="color-highlight">Flexible and Easy to Use</p><a href="#" class="close-menu"><i
                                class="fa fa-times"></i></a>
                    </div>
                    <div class="divider bottom-20"></div>
                    <div class="toggle-with-icon">
                        <i class="toggle-icon round-tiny fa fa-moon bg-red2-dark color-white"></i>
                        <a href="#" class="toggle-switch toggle-ios toggle-off" data-toggle-theme
                            data-toggle-height="27" data-toggle-width="50" data-toggle-content="toggle-content-1"
                            data-toggle-checkbox="toggle-checkbox-1" data-bg-on="bg-green1-dark" data-bg-off="">
                            <span class="color-theme regularbold font-13">Dark Mode</span>
                            <strong></strong>
                            <u></u>
                        </a>
                    </div>
                    <div class="divider top-25 bottom-0"></div>
                    <div class="link-list link-list-2 link-list-long-border">
                        <a href="#" data-menu="menu-highlights">
                            <i class="fa fa-tint bg-green1-dark color-white round-tiny"></i>
                            <span>Page Highlight</span>
                            <strong>16 Color Highlights Included</strong>
                            <em class="bg-highlight">HOT</em>
                        </a>
                        <a href="#" data-menu="menu-backgrounds" class="no-border">
                            <i class="fa fa-brush bg-blue2-dark color-white round-tiny"></i>
                            <span>Page Background</span>
                            <strong>10 Page Gradients Included</strong>
                            <em class="bg-highlight">NEW</em>
                        </a>
                    </div>
                </div>
            </div>

            <!--Menu Settings Highlights-->
      
            <!-- Menu Settings Backgrounds-->
            <div id="menu-backgrounds" class="menu menu-box-bottom menu-box-detached round-large" data-menu-height="310"
                data-menu-effect="menu-over">
                <div class="content">
                    <div class="menu-title">
                        <h1>Backgrounds</h1>
                        <p class="color-highlight">Change Page Color Behind Content Boxes</p><a href="#"
                            class="close-menu"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="divider bottom-0"></div>
                    <div class="background-changer bottom-30">
                        <a href="#" data-change-background="none"><i class="bg-theme"></i><span>Default</span></a>
                        <a href="#" data-change-background="plum"><i class="body-plum"></i><span
                                class="color-plum-dark">Plum</span></a>
                        <a href="#" data-change-background="magenta3"><i class="body-magenta3"></i><span
                                class="color-magenta3-dark">Magenta</span></a>
                        <a href="#" data-change-background="dark3"><i class="body-dark3"></i><span
                                class="color-dark3-dark">Dark</span></a>
                        <a href="#" data-change-background="violet"><i class="body-violet"></i><span
                                class="color-violet-dark">Violet</span></a>
                        <a href="#" data-change-background="red3"><i class="body-red3"></i><span
                                class="color-red3-dark">Red</span></a>
                        <a href="#" data-change-background="green3"><i class="body-green3"></i><span
                                class="color-green3-dark">Green</span></a>
                        <a href="#" data-change-background="sky"><i class="body-sky"></i><span
                                class="color-sky-dark">Sky</span></a>
                        <a href="#" data-change-background="pumpkin"><i class="body-pumpkin"></i><span
                                class="color-pumpkin-dark">Orange</span></a>
                        <a href="#" data-change-background="yellow3"><i class="body-yellow3"></i><span
                                class="color-yellow3-dark">Yellow</span></a>
                        <div class="clear"></div>
                    </div>
                    <a href="#" data-menu="menu-settings"
                        class="button button-s button-full button-m button-round-large bg-highlight shadow-large">Back
                        to
                        Settings</a>
                </div>
            </div>
           
            <div class="menu-hider"></div>
        </div>

        <script type="text/javascript" src="/scripts/jquery.js"></script>
        <script type="text/javascript" src="/scripts/plugins.js"></script>
        <script type="text/javascript" src="/scripts/custom.js"></script>
        <script>
            var map;

            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                var uluru = {
                    lat: 37.401811,
                    lng: 126.922492
                };
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.querySelector('.responsive-iframe'), {
                        zoom: 15,
                        center: uluru
                    });
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNfdF_uHYQT0Jn8czh4R10flxH8x3G95k&callback=initMap"
            async defer>
        </script>

        <script>
            $("#registerBtn").click(function () {
                var id = $("#registerId").val();
                console.log(id);
                location.href = '/reservation/register/' + id;
            });
        </script>
</body>